@font-face {
  font-family: "Golos UI";
  src: url("./fonts/Golos-UI_Bold.ttf");
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.Navigation {
  width: 100%;
  background-color: #131313;
  position: fixed;
  z-index: 10;
}

.container {
  max-width: 1440px;
  padding: 0 30px;
  margin: 0 auto;
}

.Navigation .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  max-width: 147px;
  padding: 13px 0;
}

.logo-item {
  color: #ffffff;
  font-family: Golos UI;
  font-size: 20px;
  text-decoration: none;
  position: relative;
}

.logo-item::after {
  content: "SVET";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -60px;
}

.items {
  width: 100%;
  max-width: 783px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  transition: .5s;
}

.items a {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
}


.burger-block {
  display: none;
  cursor: pointer;
}

.burger {
  display: block;
  color: #ffffff;
  height: 3px;
  width: 30px;
  background-color: #ffffff;
  position: relative;
}

.burger::before {
  content: "";
  height: 3px;
  width: 30px;
  background-color: #ffffff;
  position: absolute;
  top: -10px;
  left: 0;
}

.burger::after {
  content: "";
  height: 3px;
  width: 30px;
  background-color: #ffffff;
  position: absolute;
  top: 10px;
  left: 0;
}



@media (max-width: 1024px) {
  .burger-block {
    display: block;
  }

  .items {
    width: 100%;
    max-width: 550px;
    flex-direction: column;
    align-items: center;
    transform: translateX(150%);
    background-color: #131313;
    padding: 50px 0;
    position: absolute;
    top: 60px;
    right: 0;
  }

  .active {
    transform: translateX(0%);
  }
}
